POSTGRES_DB=brainlog
POSTGRES_USER=postgres
POSTGRES_PASSWORD=altere-esta-senha
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:altere-esta-senha@postgres:5432/brainlog?schema=public
JWT_SECRET=altere-este-segredo
BACKEND_PORT=3030
UPLOAD_DIR=uploads

FRONTEND_PORT=3031
VITE_API_URL=/api
VITE_ALLOWED_HOSTS=brainlog.frameworksenac.com.br
APP_VERSION=latest
